.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Begin Kobe's styles -- 07/19/2022 */

button {
  font-size: calc(0.75em + 0.5vmin);
  text-align: center;
  color: white;
  text-shadow: 0px 0px 1px black;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color:#003a63;
  transition-duration: 0.5s;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: gray;
  /* Consider omitting box-shadow property */
  box-shadow: 1px 1px 3px gray;
}

button:hover {
  background-color:#003a63e0;
  transition-duration: 0.5s;
}

h1 {
  font-size: calc(2em + 2vmin);
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

h2 {
  font-size: calc(1.5em + 2vmin);
  margin: 0px;
}

option {
  /* Options have a border radius for some reason???
     And it won't go away??? */
  border-radius: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 75vh;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family:"proxima-nova","Helvetica Neue",Tahoma,sans-serif;
  color:#003a63;
  text-shadow: 0px 0px 1px black;
}

.hideEventForm {
  font-size: 0.75em;
  align-self: flex-start;
}

.formChunk {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  height: 35%;
  min-height: 10em;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
}

/* End Kobe's styles */